@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div style="padding-top: 36px;">
        Ações Rápidas
    </div>

    <hr />
    <div class="card-columns">
        <div class="card">
            <div class="card-body">
                <a asp-controller="Categorias" asp-action="Create">
                    <h5 class="card-title">Adicionar Categoria</h5>
                    <i class="fas fa-edit fa-5x"></i>
                </a>
            </div>
        </div>
        <div class="card p-3">
            <a asp-controller="Orcamentos" asp-action="Create">
                <h5 class="card-title">Adicionar Orçamento</h5>
                <i class="fas fa-list-ol fa-5x"></i>
            </a>
        </div>
        <div class="card p-3">
            <a asp-controller="Contas" asp-action="Create">
                <h5 class="card-title">Adicionar Conta</h5>
                <i class="fas fa-credit-card fa-5x"></i>
            </a>
        </div>
        <div class="card p-3">
            <a asp-controller="Gastos" asp-action="Create">
                <h5 class="card-title">Adicionar Gasto</h5>
                <i class="fas fa-file-invoice-dollar fa-5x"></i>
            </a>
        </div>
        
    </div>
</div>

